/*============ fuente y tipografia ============*/

:root{
    --body-font: 'Poppins',sans-serif;
    --big-font-size: 3rem;
    --h2-font-size: 1.25rem;
    --normal-font-size: 0.938rem;
}

/*=========================== nav ================*/

 header{
     width: 100%;
     box-shadow:0 10px 25px rgba(14, 36, 49, .15) ;

 }

.nav__conteiner{
    display: flex;
   /* background-color: black;*/
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav__logo, .nav__item,.bx{
    text-decoration: none;
    color: #000;
    font-size: 25px;
    font-family: var(--body-font);
}


.nav__search{
    padding: 10px;
    border-radius: 10px;
}

.form__input-search{
    width: 540px;
    height: 30px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    border:1px solid silver;
    border-radius: 30px;
    transition: all .5s;

}

.form__input-search:hover{
    width: 740px;
}

.form__input-button{
    border-style: none;
    padding: 0px 20px;
    height: 30px;
    font-size: 18px;
    cursor: pointer;
    color: #fff;
    background-color: rgb(206, 20, 20);
    border-radius: 30px;    
}

.bx{
    color:rgb(71, 71, 71);
    border: 1px solid rgb(71, 71, 71);
    border-radius: 30%;
    padding: 8px;
    transition: all .5s;
}

.bx:hover{
    background-color: rgb(206, 20, 20);
    border: 1px solid rgb(206, 20, 20);;
    color: #fff;
}

#carrito-container{
    width: 400px;
    background: white;
    border: solid 1px #000;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin-top: 10px;
    display: none;
}

#tabla .fila{
    box-sizing: border-box;
    padding: 10px 0;
}

#tabla .fila .imagen{
    display: inline-block;
    width: 100px;
}
#tabla .fila .info{
    box-sizing: border-box;
    font-size: 14px;
    display: inline-block;
    padding-left: 20px;
    vertical-align: top;
    width: 273px;
}

#tabla .fila .info .nombre{
    font-size: 20px;
    font-weight: bold;
}
#tabla .fila .info .botones{
    padding: 20px 0 0 0;
}

#tabla p{
    font-size: 24px !important;
    text-align: center;
    font-weight: bold;
}

/*================= nav products ================*/

.section__product{
    
    width: 60%;    
    margin: 10px auto; 
    
}

.nav__menu{
    width: 60%;
    margin: 0 auto;
}

.nav__list{
    display: flex;      
}

.nav__list li{  
    
    list-style: none;
    width: 200px;
    border:1px solid silver;
    text-align: center;    
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);    
    padding: 10px auto;
    width: 100%;
}

.nav__list li a {
    display: block;
    text-decoration: none;
    color: rgb(168, 167, 167);
    text-transform: uppercase;  
    transition: all 0.5s;  
    width: 100%;
}

.nav__list li a:hover{
    color: #000;
}

/*======================= products ========*/

.product__conteiner{
    /*row-gap: 2rem;    */
    font-family: var(--body-font);
    margin: 10px auto;
    box-shadow: 0 4px 25px rgba(14, 36, 49, .15);
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;
}

.product__conteiner:hover{
    border:1px solid #000;
}

.product__img{
    margin: 25px auto;
    
}

.product__img img{
    width: 150px;
}

.title__name{
    font-size: 15px;
    margin: 7px auto;
    color: #7c7c7c;
    text-transform: uppercase;
}

.title__price, .title__discount{
    font-size: 20px;
    margin: 5px auto;
}

.title__price{
    font-size: 20px;
    color: red;
}

.title__discount{
    font-size: 15px;
}

.button{
    display: inline-block;
    background-color: #282829;
    border-style: none;
    color: #fff;
    padding: .5rem 2.5rem;
    cursor: pointer;
}

.product{    
    display: grid;
    width: 60%;
   
   grid-template-columns: repeat(auto-fill,minmax(200px,2fr));
    margin: 10px auto;      
    column-gap:4rem;    
}
